{{link-to "Some other route" "other"}}

<div class="parent">
  <h2>Move stuff within a container</h2>
  {{simple-drag}}
  {{code-snippet name="simple-drag-js.hbs"}}
  {{code-snippet name="simple-drag-template.hbs"}}
</div>
